<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn  first">
      <img src="../../../assets/images/logo-info.png" class="image__login-header" id="icon" alt="logo inforio sistemas" />
    </div>

    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

  </div>
</div>
