<div class="m-2">
    <div class="row">
      <div class="col-12">
        <h2>Nova conta</h2>
      </div>
    </div>
  </div>

  <form action="#" method="POST">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label class="control-label  info-required" for="nome">Nome</label>
          <input type="text" class="form-control" nome="nome" id="nome" autofocus autocomplete="false"/>
        </div>
      </div>
      <div class="col-12">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="banco">
          <label class="custom-control-label" for="banco">Banco</label>
        </div>
      </div>
    </div>
    <div class="row  text-right">
      <div class="col-12">
        <a href="#" class="btn  btn-outline-primary  mr-2">Voltar</a>
        <input type="submit" class="btn  btn-primary" value="Salvar">
      </div>
    </div>
  </form>
