<div>
  <div class="row">
    <div class="col-12">
      <h2>Pesquisa de transação</h2>
    </div>
  </div>
  <form (ngSubmit)="pesquisar()">
    <div class="row">
      <div class="col-12  col-sm-6">
        <div class="form-group">
          <label class="control-label" for="categoria">Categoria</label>
          <select class="form-control" name="categoria" id="categoria" [(ngModel)]="filtro.categoria">
            <option *ngFor="let categoria of categorias" [ngValue]="categoria.codigo">{{categoria.nome}}</option>
          </select>
        </div>
      </div>
      <div class="col-12  col-sm-6">
        <div class="form-group">
          <label class="control-label" for="conta">Contas</label>
          <select class="form-control" name="conta" id="conta" [(ngModel)]="filtro.conta">
            <option *ngFor="let conta of contas" [ngValue]="conta.codigo">{{conta.nome}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6  col-sm-6">
        <div class="form-group">
          <label class="control-label" for="emissaoDe">Data inicial</label>
          <div class="input-group">
            <input class="form-control" type="text" rInputMask="99/99/9999" placeholder="dd/mm/yyyy" name="emissaoDe" id="emissaoDe" [(ngModel)]="emissaoDe" ngbDatepicker [footerTemplate]="footerTemplate" #dataInicial="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn  btn-outline-secondary  calendar" (click)="dataInicial.toggle()" type="button"><fa-icon [icon]="faCalendar"></fa-icon></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6  col-sm-6">
        <div class="form-group">
          <label class="control-label" for="emissaoAte">Data final</label>
          <div class="input-group">
            <input class="form-control" rInputMask="99/99/9999" placeholder="dd/mm/yyyy" name="emissaoAte" id="emissaoAte" [(ngModel)]="emissaoAte" ngbDatepicker [footerTemplate]="footerTemplate" #dataFinal="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn  btn-outline-secondary  calendar" (click)="dataFinal.toggle()" type="button"><fa-icon [icon]="faCalendar"></fa-icon></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label class="control-label" for="observacao">Observação</label>
          <input class="form-control" type="text" name="observacao" id="observacao" [(ngModel)]="filtro.observacao"/>
        </div>
      </div>
    </div>
    <input type="submit" class="btn  btn-primary" value="Pesquisar">
  </form>
</div>

<div class="row  mt-5">
  <div class="col-12">
    <div *ngIf="alert.mostrar">
      <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.mensagem }} </ngb-alert>
    </div>
  </div>

  <div class="col-12">
    <table class="table  table-striped">
      <thead>
        <tr>
          <th scope="col">Cateogira</th>
          <th scope="col">Conta</th>
          <th scope="col">Emissão</th>
          <th scope="col">Tipo</th>
          <th scope="col">Valor</th>
          <th scope="col">Conciliado</th>
          <th class="col-acoes"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transacao of transacoes">
          <td>{{ transacao.categoria }}</td>
          <td>{{ transacao.conta }}</td>
          <td>{{ transacao.emissao | date: 'dd/MM/yyyy' }}</td>
          <td>{{ transacao.tipoTransacao == 'C' ? 'Crédito' : 'Débito' }}</td>
          <td [style.color]="transacao.tipoTransacao == 'C' ? 'blue' : 'red'">{{ transacao.valor | currency:'BRL' }}</td>
          <td><a href="javascript:;" (click)="alterarConcialcao(transacao)" placement="top" [ngbTooltip]="transacao.conciliado ? 'Desconciliar': 'Conciliar'">{{ transacao.conciliado ? 'Conciliado' : 'Desconciliado' }}</a></td>
          <td class="col-acoes">
            <a [routerLink]="['/transacoes', transacao.codigo]" class="btn  btn-primary  mr-2" placement="top" ngbTooltip="Editar"><fa-icon [icon]="faPen"></fa-icon></a>
            <button class="btn  btn-primary" placement="top" ngbTooltip="Excluir" [swal]="deleteSwal" (confirm)="excluir(transacao)"><fa-icon [icon]="faTrash"></fa-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination [boundaryLinks]=true [collectionSize]="totalElementos" [pageSize]="5" [(page)]="filtro.paginaAtual" (pageChange)="loadPage($event)"></ngb-pagination>
  </div>
  <div class="col-12">
      <a routerLink="/transacoes/novo" class="btn  btn-primary"><fa-icon [icon]="faPlus"></fa-icon> Nova</a>
  </div>
</div>


<swal
  #deleteSwal
  title="Transação"
  text="Deseja realmente excluir?"
  type="question"
  confirmButtonText="Sim"
  cancelButtonText="Cancelar"
  [showCancelButton]="true"
  [focusCancel]="true">
</swal>
