<div class="m-2">
  <div class="row">
    <div class="col-12">
      <h2>Pesquisa de conta</h2>
      <form action="#" method="GET">
          <div class="form-group">
            <label class="control-label" for="nome">Nome</label>
            <input type="text" class="form-control" nome="nome" id="nome" autocomplete="false"/>
          </div>
          <input type="submit" class="btn  btn-primary" value="Pesquisar">
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table  table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th class="col-acoes"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conta of contas">
          <td>{{ conta.nome }}</td>
          <td class="col-acoes">
            <a href="#" class="btn  btn-primary  mr-2" placement="top" ngbTooltip="Editar"><fa-icon [icon]="faPen"></fa-icon></a>
            <button class="btn  btn-primary" placement="top" ngbTooltip="Excluir"><fa-icon [icon]="faTrash"></fa-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12">
      <a routerLink="/contas/nova" class="btn  btn-primary"><fa-icon [icon]="faPlus"></fa-icon> Nova</a>
  </div>
</div>
