/* You can add global styles to this file, and also import other style files */
.info-required::after{
  content: ' *';
  color: red;
}

.m-2{
  margin-top: 2%;
}

.m-5{
  margin-top: 5%;
}

.col-acoes{
  width: 150px;

  text-align: right;
}
